<?xml version='1.0' encoding='UTF-8'?>
<dataset>
  <BEROAT01 ORD_ID="2928158" ATY_ID="R" OAD_ADD_TD="2010-09-29 15:20:36.0" OAD_ADD_USER_ID="MyUser" OAD_UPDT_TD="2010-09-29 15:20:36.0" OAD_UPDT_USER_ID="MyUser" OAD_SOFTLOCK_TS="2010-09-29 15:20:36.78" OAD_CONTACT_NM="null "/>
  <BEROAT01 ORD_ID="2928158" ATY_ID="C" OAD_ADD_TD="2010-09-29 15:20:36.0" OAD_ADD_USER_ID="MyUser" OAD_UPDT_TD="2010-09-29 15:20:36.0" OAD_UPDT_USER_ID="MyUser" OAD_SOFTLOCK_TS="2010-09-29 15:20:36.781" OAD_CONTACT_NM=" zvcz fdbdzbf" OAD_COMPANY_NM="C.R. BARD PORTUGAL LDA.,C.R. BARD PORTUGAL LDA." OAD_COMP_NM_KEY_TX="CR BARD PO" OAD_ADDR_LINE_1_TX="RUA CASTILHO,NR.13 D" OAD_ADDR_LINE_2_TX="2 ANDAR A" OAD_TOWN_NM="LISBOA" OAD_TWN_NM_KEY_TX="LISBOA" OAD_POSTAL_CD="1250-066" COU_ISO_ID="PT" />
  <BEROAT01 ORD_ID="2928158" ATY_ID="D" OAD_ADD_TD="2010-09-29 15:20:36.0" OAD_ADD_USER_ID="MyUser" OAD_UPDT_TD="2010-09-29 15:20:36.0" OAD_UPDT_USER_ID="MyUser" OAD_SOFTLOCK_TS="2010-09-29 15:20:36.782" OAD_CONTACT_NM="null "/>
  <BEROAT01 ORD_ID="2928158" ATY_ID="S" OAD_ADD_TD="2010-09-29 15:20:36.0" OAD_ADD_USER_ID="MyUser" OAD_UPDT_TD="2010-09-29 15:20:36.0" OAD_UPDT_USER_ID="MyUser" OAD_SOFTLOCK_TS="2010-09-29 15:20:36.782" OAD_CONTACT_NM="null null" OAD_COMPANY_NM="C.R. BARD PORTUGAL LDA.,C.R. BARD PORTUGAL LDA." OAD_COMP_NM_KEY_TX="CR BARD PO" OAD_ADDR_LINE_1_TX="RUA CASTILHO,NR.13 D" OAD_ADDR_LINE_2_TX="2 ANDAR A" OAD_TOWN_NM="LISBOA" OAD_TWN_NM_KEY_TX="LISBOA" OAD_POSTAL_CD="1250-066" COU_ISO_ID="PT" />
  <BEROAT01 ORD_ID="2928193" ATY_ID="R" OAD_ADD_TD="2010-09-30 11:13:22.0" OAD_ADD_USER_ID="MyUser" OAD_UPDT_TD="2010-09-30 11:13:22.0" OAD_UPDT_USER_ID="MyUser" OAD_SOFTLOCK_TS="2010-09-30 11:13:22.829" OAD_CONTACT_NM="null " COU_ISO_ID="PT"/>
  <BEROAT01 ORD_ID="2928193" ATY_ID="C" OAD_ADD_TD="2010-09-30 11:13:22.0" OAD_ADD_USER_ID="MyUser" OAD_UPDT_TD="2010-09-30 11:13:22.0" OAD_UPDT_USER_ID="MyUser" OAD_SOFTLOCK_TS="2010-09-30 11:13:22.83" OAD_CONTACT_NM="7 sdf sdf" OAD_COMPANY_NM="C.R. BARD PORTUGAL LDA.,C.R. BARD PORTUGAL LDA." OAD_COMP_NM_KEY_TX="CR BARD PO" OAD_ADDR_LINE_1_TX="RUA CASTILHO,NR.13 D" OAD_ADDR_LINE_2_TX="2 ANDAR A" OAD_TOWN_NM="LISBOA" OAD_TWN_NM_KEY_TX="LISBOA" OAD_POSTAL_CD="1250-066" COU_ISO_ID="PT" />
  <BEROAT01 ORD_ID="2928193" ATY_ID="D" OAD_ADD_TD="2010-09-30 11:13:22.0" OAD_ADD_USER_ID="MyUser" OAD_UPDT_TD="2010-09-30 11:13:22.0" OAD_UPDT_USER_ID="MyUser" OAD_SOFTLOCK_TS="2010-09-30 11:13:22.831" OAD_CONTACT_NM="null " COU_ISO_ID="PT"/>
</dataset>
